* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--montserrat);
}

:root {
    --montserrat: "Montserrat", sans-serif;
    --roboto: 'Roboto Condensed', sans-serif;
    --roboto-condensed: 'Roboto', sans-serif;

    --main-primary: rgb(191, 111, 26);
    --main-secondary: #100702;
    --minor-primary: #E3B924;
    --minor-secondary: #F7D754;
    --grey-primary: #444444;
    --grey-tertiary: rbg(229, 229, 229); 
}